In [1]:
%load_ext sql
import pymysql 
pymysql.install_as_MySQLdb()

In [2]:
%%sql
mysql://stu2000011483:stu2000011483@162.105.146.37:53306
use stu2000011483;

0 rows affected.

[]

#### 业务功能
QQ音乐、网易云音乐等音乐播放APP提供了多种功能，除了基础的听歌功能以外，歌单的创建、推荐赋予了音乐APP一定的社交属性，同时增强用户粘性，会员购买也成为了APP付费盈利的重要渠道
* __听歌__：用户可以播放歌曲，对于喜欢的歌曲可以添加喜欢
* __歌单__：用户可以创建多个歌单，不同的歌单也可以同时被系统推荐给不同的用户，用户如果喜欢歌单可以进行收藏
* __会员__：用户可以按月/季度/年份购买会员，部分歌曲必须要会员才能完整收听（以下假设会员只有一种，即月度会员，用户可以购买不同数量的月度会员，不会有价格优惠）

对应的具体业务需求可能包括：
- 用户购买会员
- 将歌单推荐给用户
- 用户播放歌曲/喜欢歌曲/收藏歌单
- 用户取消喜欢歌曲/取消收藏歌单
- 后台修改专辑介绍
- 后台新增歌手/新增专辑


#### 实体

依据以上业务功能，我们构建了如下实体

| 序号 | 名称 | 属性 |
| --- | --- | --- |
| 1 | 用户 | **user_id**, user_name,  user_gender,  user_phone,  member_status,  expire_date |
| 2 | 歌曲 | **song_id**, song_name, <u>album_id</u>, member_requirement |
| 3 | 歌单 | **list_id**, list_name, list_description, <u>creator</u>, create_data |
| 4 | 订单 | **order_id**, <u>user_id</u>, order_date, count, total_price |
| 5 | 专辑 | **album_id**, album_name, release_date, <u>singer_id</u> |
| 6 | 歌手 | **singer_id**, singer_name, singer_description |

#### 关系表（多对多）

对于一对多的关系，我们采用添加外键的方式进行关联，对于多对多的关系，我们分别为其创建一个关系表

| 序号 | 名称 | 属性 |
| --- | --- | --- |
| 1 | 用户-喜欢-歌曲 | **liked_id**, <u>liked_song_id</u>, <u>liked_user_id</u> |
| 2 | 用户-点播-歌曲 | **played_id**, <u>played_song_id</u>, <u>played_user_id</u> |
| 3 | 歌单-包含-歌曲 | **list_include_id**, <u>list_id</u>, <u>song_id</u> |
| 4 | 用户-被推荐-歌单 | **list_recommand_id**, recommand_date, <u>recomand_user</u>, <u>recommand_list</u> |
| 5 | 用户-收藏-歌单 | **stared_id**, <u>stared_list_id</u>, <u>stared_user_id</u> |

#### ER图
对于上述实体和关系，ER图如下：

<img src="./image.png" width="1000">

In [3]:
%%sql

set @@foreign_key_checks=0;

# 创建用户表。应检查电话号码长度是否为11位
drop table if exists user_tb;

CREATE TABLE user_tb
(
    user_id VARCHAR(50) PRIMARY KEY,
    user_name VARCHAR(100) NOT NULL,
    user_gender ENUM('男','女') NOT NULL,
    user_phone VARCHAR(20) NOT NULL,
    member_status ENUM('是','否') ,
    expired_date DATE,
    check(length(user_phone)=11)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql

set @@foreign_key_checks=0;

# 创建歌曲表，歌曲对应一个歌手
drop table if exists song_tb;

CREATE TABLE song_tb
(
    song_id INT PRIMARY KEY AUTO_INCREMENT,
    song_name VARCHAR(100) NOT NULL,
    album_id INT NOT NULL,
    member_requirement ENUM('是','否') NOT NULL,
    constraint fk_song_album foreign key(album_id) references album_tb(album_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql

set @@foreign_key_checks=0;

# 创建歌单表，每个歌单对应一个创建用户
drop table if exists list_tb;

CREATE TABLE list_tb
(
    list_id INT PRIMARY KEY AUTO_INCREMENT,
    list_name VARCHAR(100) NOT NULL,
    list_description VARCHAR(1000),
    creator_id VARCHAR(50) NOT NULL,
    create_date DATE NOT NULL,
    constraint fk_list_creator foreign key(creator_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql

set @@foreign_key_checks=0;

# 创建订单表，每个订单对应一个用户
drop table if exists order_tb;

CREATE TABLE order_tb
(
    order_id INT PRIMARY KEY AUTO_INCREMENT,
    user_id VARCHAR(50) NOT NULL,
    order_date DATE NOT NULL,
    month_count INT NOT NULL,
    total_price DECIMAL(10,2) NOT NULL,
    constraint fk_order_user foreign key(user_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql

set @@foreign_key_checks=0;

# 创建歌手表
drop table if exists singer_tb;

CREATE TABLE singer_tb
(
    singer_id INT PRIMARY KEY AUTO_INCREMENT,
    singer_name VARCHAR(100) NOT NULL,
    singer_description VARCHAR(1000) NOT NULL
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql

set @@foreign_key_checks=0;

# 创建专辑表，每个专辑对应一个歌手
drop table if exists album_tb;

CREATE TABLE album_tb
(
    album_id INT PRIMARY KEY AUTO_INCREMENT,
    album_name VARCHAR(100) NOT NULL,
    release_date DATE NOT NULL,
    singer_id INT NOT NULL,
    constraint fk_album_singer foreign key(singer_id) references singer_tb(singer_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql

set @@foreign_key_checks=0;

# 创建用户-喜欢-歌曲表
drop table if exists song_liked_tb;

CREATE TABLE song_liked_tb
(
    liked_id INT PRIMARY KEY AUTO_INCREMENT,
    liked_song_id INT NOT NULL,
    liked_user_id VARCHAR(50) NOT NULL,
    constraint fk_liked_song_user foreign key(liked_user_id) references user_tb(user_id),
    constraint fk_liked_song_song foreign key(liked_song_id) references song_tb(song_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [10]:
%%sql

set @@foreign_key_checks=0;

# 创建用户-播放-歌曲表
drop table if exists played_tb;

CREATE TABLE played_tb
(
    played_id INT PRIMARY KEY AUTO_INCREMENT,
    played_song_id INT NOT NULL,
    played_user_id VARCHAR(50) NOT NULL,
    constraint fk_played_song_user foreign key(played_user_id) references user_tb(user_id),
    constraint fk_played_song_song foreign key(played_song_id) references song_tb(song_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql

set @@foreign_key_checks=0;

# 创建歌单-包含-歌曲表
drop table if exists list_include_tb;

CREATE TABLE list_include_tb
(
    list_include_id INT PRIMARY KEY AUTO_INCREMENT,
    list_id INT NOT NULL,
    song_id INT NOT NULL,
    constraint fk_list_include_list foreign key(list_id) references list_tb(list_id),
    constraint fk_list_include_song foreign key(song_id) references song_tb(song_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql

set @@foreign_key_checks=0;

# 创建歌单-被推荐给-用户表
drop table if exists list_recommand_tb;

CREATE TABLE list_recommand_tb
(
    list_recommand_id INT PRIMARY KEY AUTO_INCREMENT,
    recomand_list_id INT NOT NULL,
    recommand_user_id VARCHAR(50) NOT NULL,
    recommand_date DATE NOT NULL,
    constraint fk_list_recommand_list foreign key(recomand_list_id) references list_tb(list_id),
    constraint fk_list_recommand_user foreign key(recommand_user_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql

set @@foreign_key_checks=0;

# 创建用户-喜欢-歌单表
drop table if exists list_liked_tb;

CREATE TABLE list_liked_tb
(
    stared_id INT PRIMARY KEY AUTO_INCREMENT,
    stared_list_id INT NOT NULL,
    stared_user_id VARCHAR(50) NOT NULL,
    constraint fk_liked_list_user foreign key(stared_user_id) references user_tb(user_id),
    constraint fk_liked_list_list foreign key(stared_list_id) references list_tb(list_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000011483:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql

#表格
# user的会员相关状态初始是空的，在查询时根据订单判断是否是会员，并记录到user_tb中
INSERT INTO user_tb(user_id, user_name, user_gender, user_phone) 
VALUES
    ('akps1029', '张三', '男', '12345678901'),
    ('akps1030', '李四', '男', '12345678902'),
    ('akps1031', '王五', '女', '12345678903'),
    ('akps1032', '赵六', '女', '12345678904');

INSERT INTO singer_tb(singer_name, singer_description) 
VALUES
    ('The Beatles','英国摇滚乐队'),
    ('房东的猫', '中国民谣乐队'),
    ('Queen', '英国摇滚乐队'),
    ('James Blunt', '英国歌手'),
    ('周杰伦', '中国歌手');



INSERT INTO album_tb(album_name, release_date, singer_id) 
VALUES
    ('Let it be(Remasteres)', '1970-5-8',1),
    ('The Platinum Collection', '1964-01-01', 3),
    ('柔软', '2005-03-15', 2),
    ('Back To Bedlam (Deluxe Version)', '2004-10-11', 4),
    ('叶惠美', '2003-07-31', 5),
    ('范特西', '2001-09-14', 5),
    ('11月的萧邦', '2005-11-01', 5);

INSERT INTO song_tb(song_name, album_id, member_requirement) 
VALUES
    ('let it be','1','是'),
    ('Bohemian Rhapsody','2','是'),
    ('We Will Rock You','2','否'),
    ('你是我最愚蠢的一次浪漫','3','否'),
    ('You Are Beautiful','4','否'),
    ('以父之名','5','是'),
    ('爱在西元前','6','是'),
    ('夜曲','7','是'),
    ('发如雪','7','否'),
    ('枫','7','否');
    
    

INSERT INTO list_tb(list_name, list_description, creator_id, create_date) 
VALUES
    ('100首经典英文老歌','依稀回忆中尽是昨日的旧时光','akps1029','2021-12-31'),
    ('周董',NULL,'akps1031','2022-1-31'),
    ('华语抒情','emo','akps1031','2019-1-1'),
    

INSERT INTO order_tb(order_id, user_id, order_date, month_count, total_price) 
VALUES
    ('akps1029','2023-12-31','24','120.00'),
    ('akps1030','2023-12-31','6','60.00'),
    ('akps1031','2023-12-31','12','120.00'),
    ('akps1032','2023-12-31','6','60.00');
    
    

#关系
INSERT INTO song_liked_tb(liked_id, liked_song_id, liked_user_id) VALUES('0','0','akps1029');

INSERT INTO played_tb(played_id, played_song_id, played_user_id) VALUES('0','0','akps1029');

INSERT INTO list_include_tb(list_include_id, list_id, song_id) VALUES('0','0','0');

INSERT INTO list_recommand_tb(list_recommand_id, recomand_list_id, recommand_user_id, recommand_date) VALUES('0','0','akps1029','2022-10-2');

INSERT INTO list_liked_tb(stared_id, stared_list_id, stared_user_id) VALUES('0','0','akps1029');

 * mysql://stu2000011483:***@162.105.146.37:53306
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

# 业务功能
以下是对一些常见的业务功能的实现

In [ ]:

db = pymysql.connect(host='162.105.146.37',user='stu1900013063', password='stu1900013063', port=53306,db="stu1900013063")
cursor = db.cursor()